<template>
<div class="box" @click.self="toggleExpanded">
  <h4 class="title" @click.self="toggleExpanded">{{title}}</h4>
  <div :class="isExpanded ? 'expanded' : 'collapsed'">
    <slot/>
  </div>
</div>
</template>



<script lang="ts">
import { defineComponent } from 'vue'

const Collapse = defineComponent({

  name: 'Collapse',

  props: {
    title: {
      type: String,
      required: true
    },
    beginOpen: {
      type: Boolean,
      default: false
    }
  },

  data() {
    const isExpanded = this.beginOpen
    return {
      isExpanded
    }
  },

  methods: {
    toggleExpanded() {
      this.isExpanded = !this.isExpanded
    }
  }

})

export default Collapse
</script>



<style>

.box {
  box-shadow: inset 0px 0px 0px 3px var(--color-light-1);
  border-radius: 6px;
  padding: 6px 12px;
  margin: 6px;
  cursor: pointer;
  display: block;
  padding: 6px;
}

.title {
  margin: 0;
  text-align: left;
}

.expanded {
  display: block;
}

.collapsed {
  display: none;
}

</style>
