<template>
<div>

  <div v-if="source === 'string'">

    <Collapse title="Text">
      <!--<textarea v-model="sourceText"/>-->
      <p>{{sourceText}}</p>
    </Collapse>

    <Collapse title="Marks">
      <table>
        <tr>
          <!--<th>Delete</th>-->
          <th>begChar</th>
          <th>endChar</th>
          <th>text</th>
          <th>subjects</th>
        </tr>
        <tr v-for="mark of marks" :key="String(mark.begChar) + '.' + String(mark.endChar)">
          <!--<td><button @click="removeMark(mark)"/></td>-->
          <td>{{mark.begChar}}</td>
          <td>{{mark.endChar}}</td>
          <td>{{mark.text || sourceText.substring(mark.begChar, mark.endChar)}}</td>
          <td>{{mark.subjects}}</td>
        </tr>
      </table>
    </Collapse>

  </div>

  <Collapse title="Style" v-if="mt != null">
    <table>
      <th>Name</th>
      <th>Style</th>
      <th>Color <button @click="onToggleColorMode">{{currentColorMode}}</button></th>
      <tr v-for="subject of subjects" :key="subject">
        <td>{{subject}}</td>
        <td :style="mt.subjectStyle(subject)">Text</td>
        <td>
          <div v-if="currentColorMode == 'auto'">-</div>
          <input type="text" v-else
            @input="ev => onChangeManualColor(subject, ev as InputEvent)"
          />
        </td>
      </tr>
    </table>
  </Collapse>

  <Collapse title="Controller">
    <div>
      <button @click="switchController">{{switchControllerText}}</button>
    </div>
  </Collapse>

  <Collapse title="Meta Strings">
    <div>
      <button @click="toggleBatchStrings()">Toggle batch strings</button>
      <label for="batch-size">Text batch size</label>
      <input class="num-input" type="number" name="batch-size" min="1" max="20" v-model.number="batchSize">
    </div>
    <div>
      <button @click="toggleEncloseSections()">Toggle enclose sections</button>
      <div id="section-grid">
        <label for="section-1-beg">Section 1 beg</label>
        <input class="num-input" type="number" name="section-1-beg" v-model.number="sections[0][0]">
        <label for="section-1-end">Section 1 end</label>
        <input class="num-input" type="number" name="section-1-end" v-model.number="sections[1][0]">
        <label for="section-2-beg">Section 2 beg</label>
        <input class="num-input" type="number" name="section-2-beg" v-model.number="sections[0][1]">
        <label for="section-2-end">Section 2 end</label>
        <input class="num-input" type="number" name="section-2-end" v-model.number="sections[1][1]">
      </div>
    </div>
  </Collapse>

  <Collapse title="Annotation Control">
    <div>
      <button @click="addMark('place')" :disabled="selectionMark == null">Add mark 'place'</button>
      <button @click="addMark('funny')" :disabled="selectionMark == null">Add mark 'funny'</button>
      <button @click="addMark('head')" :disabled="selectionMark == null">Add mark 'head'</button>
    </div>
    <div>
      <button @click="toggleActive('place')">'place' {{activeStr('place')}}</button>
      <button @click="toggleActive('funny')">'funny' {{activeStr('funny')}}</button>
      <button @click="toggleActive('head')">'head' {{activeStr('head')}}</button>
    </div>
  </Collapse>

  <Collapse title="Selection" beginOpen>
    <p v-if="interactive">{{selectionText}}</p>
    <p v-else>Not interactive, no selection possible</p>
  </Collapse>

  <Collapse title="MarkedText" beginOpen>
    <MarkedText id="mt" ref="mt"
      :sourceText="sourceText" :marks="marks"
      :controller="controller" :subjectLedger="subjectLedger"
      :batchSize="batchSize" :showBatches="areBatchesVisible" :colorModule="colorModule"
    />
  </Collapse>

</div>
</template>



<script lang='ts'>
import { defineComponent, PropType, ref } from 'vue'

import * as MT from '../src'

import AOIText from './assets/age_of_invention.txt'
import Collapse from './Collapse.vue'
// TODO: AOIMarks is too old to test with; should be replaced
// import AOIMarks from './assets/aoi_marks.dat'


const MarkedTextTest = defineComponent({

  name: 'MarkedTextTest',

  components: {
    MarkedText: MT.MarkedText, Collapse
  },

  props: {
    source: {
      type: String as PropType<'string' | 'file' | 'marked-file' | 'real-marked-file'>,
      validator: (value: string) => {
        if (['string', 'file', 'marked-file', 'real-marked-file'].indexOf(value) === -1)
          throw EvalError('Unknown option for source: ' + value)
        return true
      },
      default: 'string'
    }
  },

  data() {

    const sourceText = ''
    const selectionText = ''
    const selectionMark: MT.IMark | null = null
    const marks: MT.IMark[] = []
    const subjects: string[] = []

    const controllerType: 'null' | 'text' | 'word' | 'two-click' = 'word'
    const controller = new MT.NullController()
    const subjectLedger = new MT.SubjectLedger()

    const currentColorMode: 'auto' | 'manual' = 'auto'
    const autoColorModule = new MT.ColorScaleModule(1, 8)
    const manualColorModule = new MT.ManualColorModule()

    const areBatchesVisible = false
    const batchSize = 3
    const isSectionEnclosed = false
    const sections: [number[], number[]] = [[10, 20], [15, 25]]

    return {
      sourceText, selectionText, selectionMark, marks, subjects,
      controllerType, controller, subjectLedger,
      currentColorMode, autoColorModule, manualColorModule,
      areBatchesVisible, batchSize, isSectionEnclosed, sections
    }
  },

  computed: {

    interactive() {
      return this.controllerType !== 'null'
    },
    annotateWords() {
      return this.controllerType === 'word'
    },

    switchControllerText() {
      const controllerName =
        (this.controllerType === 'null') ? 'NullController' :
        (this.controllerType === 'text') ? 'TextSelectionController' :
        (this.controllerType === 'word') ? 'WordSelectionController' :
        (this.controllerType === 'two-click') ? 'TwoClickController' : ''
      return 'ChangeController: ' + controllerName
    },

    colorModule() {
      return (this.currentColorMode === 'auto') ? this.autoColorModule : this.manualColorModule
    }

  },

  methods: {

    createController() {

      if (this.interactive) {

        const deselectCbk = () => {
          this.selectionText = 'Deselected!'
          this.selectionMark = null
        }
        const selectNewCbk = (begChar: number, endChar: number) => {
          const text = this.sourceText.substring(begChar, endChar)
          this.selectionText = 'Selected text between begChar '
            + begChar + ' and endChar ' + endChar + ': ' + text
          this.selectionMark = {
            begChar,
            endChar,
            subjects: []
          }
        }
        const selectMarkCbk = (marks: MT.IMark[]) => {
          this.selectionText = 'Selected marks: ' + JSON.stringify(marks)
          // We only want selectionMark to reflect an UNMARKED text
          this.selectionMark = null
          if (marks.length > 1) {
            this.selectionText += '\n (not highlighting;'
              + ' highlighting may be manually triggered with markedText.setSelection(begChar, endChar).'
          }
        }

        if (this.annotateWords)
          return new MT.WordSelectionController(deselectCbk, selectNewCbk, selectMarkCbk)
        else if (this.controllerType === 'two-click')
          return new MT.TwoClickController(deselectCbk, selectNewCbk, selectMarkCbk)
        else
          return new MT.TextSelectionController(deselectCbk, selectNewCbk, selectMarkCbk)

      } else {
        return new MT.NullController()
      }

    },

    switchController() {

      switch (this.controllerType) {
      case 'null':
        this.controllerType = 'text'
        break
      case 'text':
        this.controllerType = 'word'
        break
      case 'word':
        this.controllerType = 'two-click'
        break
      case 'two-click':
        this.controllerType = 'null'
        break
      }
      this.controller = this.createController()

    },

    onToggleColorMode() {
      if (this.currentColorMode === 'auto') this.currentColorMode = 'manual'
      else this.currentColorMode = 'auto'
    },

    onChangeManualColor(subjectName: string, event: Event) {
      const target = (event.target as HTMLInputElement)
      this.manualColorModule.setSubjectColor(subjectName, target.value)
    },

    addMark(subjectName: string) {
      const mark = {
        begChar: this.selectionMark.begChar,
        endChar: this.selectionMark.endChar,
        subjects: [subjectName]
      }
      if (this.selectionMark) {
        this.marks.push(mark)
      }
    },

    activeStr(subjectName: string) {
      return this.subjectLedger.isSubjectActive(subjectName) ? 'active' : 'inactive'
    },
    toggleActive(subjectName: string) {
      return this.subjectLedger.toggleSubject(subjectName)
    },

    toggleBatchStrings() {
      this.areBatchesVisible = !this.areBatchesVisible
    },

    toggleEncloseSections() {
      this.isSectionEnclosed = !this.isSectionEnclosed
      const markedText = (this.$refs.mt as MT.IMarkedText)
      if (this.isSectionEnclosed) {
        markedText.metaStringEncloseSections(this.sections[0], this.sections[1])
      } else {
        markedText.removeMetaStrings('enclose-sections')
      }
    }

  },

  setup() {
    const mt = ref<typeof MT.MarkedText | null>(null)
    return {
      mt
    }
  },

  async created() {

    if (this.source === 'string' ) {

      this.sourceText = [
        'Lincoln strode into the White House two days later with renewed purpose',
        '  declaring that his top hat was too large.',
        'From room to room, he went; he assailed Seward in speech',
        'after speech; he whined to Chase until the latter backed down;',
        '  and all headwear-related decisions went through him.',
        'Lincoln was located in Hodgenville, Kentucky.',
        'It was not a pretty town.',
        'Seward was more sensible about stuff, with many contacts to keep himself informed.'
      ].join('\n')

      const words = new Map<string, number[]>()
      const regex = RegExp('\\w+','g')
      for (let match = regex.exec(this.sourceText);
        match != null; match = regex.exec(this.sourceText)) {
        const matchStr = match.toString()
        words.set(matchStr, (words.get(matchStr) || []).concat(match.index))
      }
      const markRanges = [
        [(words.get('Lincoln') as number[])[1], 'Lincoln'.length, 'funny'] as [number, number, string],
        [(words.get('top') as number[])[0], 'top hat'.length, 'head'] as [number, number, string],
        [(words.get('headwear') as number[])[0], 'headwear'.length, 'head'] as [number, number, string],
        [
          (words.get('Hodgenville') as number[])[0], 'Hodgenville, Kentucky'.length, 'place'
        ] as [number, number, string],
        [
          (words.get('Hodgenville') as number[])[0] + 6, 'ville'.length, 'funny'
        ] as [number, number, string]
      ]
      this.marks = markRanges.map(range => { return {
        begChar: range[0],
        endChar: range[0] + range[1],
        subjects: [range[2]]
      }})
      this.subjects = ['place', 'funny', 'head']

    } else {

      try {
        this.sourceText = await fetch(AOIText).then(
          response => response.text()
        ).then(
          text => text.trim()
        )
      } catch (err) {
        console.error('Could not load \'age_of_invention.txt\'; defaulting to empty string')
        this.sourceText = ''
      }

      this.batchSize = 20

      if (this.source === 'marked-file') {

        // Mark every 9th and 10th word together

        const words = new Array<[number, number]>()
        const regex = RegExp('\\w+','g')
        for (let match = regex.exec(this.sourceText);
          match != null; match = regex.exec(this.sourceText)) {
          words.push([match.index, match.index + match.toString().length])
        }
        this.marks = []
        let begChar = 0
        let even = false
        let subjectNum = 0
        const subjectSet = new Set<string>()
        for (const [  , wordRange] of words.filter(
          (_, idx) => idx % 10 === 8 || idx % 10 === 9).entries()
        ) {
          if (even) {
            const subject = 'marked-' + subjectNum
            subjectNum += 1
            if (subjectNum === 8) subjectNum = 0
            this.marks.push({
              begChar,
              endChar: wordRange[1],
              subjects: [subject]
            })
            subjectSet.add(subject)
          } else {
            begChar = wordRange[0]
          }
          even = !even
        }
        this.subjects = Array.from(subjectSet)

      } else if (this.source === 'real-marked-file') {

        // Use marks loaded from aoi_marks.dat

        try {
          // See above about AOIMarks
          // this.marks = await fetch(AOIMarks).then(
          //   response => response.text()
          // ).then(
          //   text => JSON.parse(text)
          // )
          this.subjects = ['contentNER', 'placeNER', 'timeNER', 'otherNER']
        } catch (err) {
          console.error('Could not load \'aoi_marks.dat\'; defaulting to empty array')
          this.marks = []
          this.subjects = []
        }

      } else {
        this.marks = []
        this.subjects = []
      }

    }

  },

  beforeMount() {
    this.controller = this.createController()
  }

})

export default MarkedTextTest
</script>



<style scoped>

p {
  white-space: pre-wrap;
}

button {
  font-size: 24px;
}

#mt {
  text-align: left;
  box-shadow: inset 0px 0px 0px 3px var(--color-light-1);
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  border-radius: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#section-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.num-input {
  width: 50px;
}

</style>

<style>

.mt-selection {
  background-color: brown;
  color: black;
}

</style>
