@import "vars.css";

body {
  background-color: var(--c-bg);
  color: var(--c-text);
  font-size: 1.2rem;
}

code {
  color: var(--c-text-code);
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200pt; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  background-color: var(--c-bg);
  color: var(--c-text);
}

.sidenav ul {
  padding: 0pt;
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  color: var(--c-text-quote);
  display: block;
  line-height: 3rem;
  font-size: 1.5rem;
  padding-left: 10pt;
}

.sidenav a.active {
  cursor: pointer;
  font-weight: 600;
  color: var(--c-text-accent);
}
.sidenav a:hover {
  color: var(--c-text-accent);
}

/* Style page content */
.notsidenav {
  margin-left: 200pt; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
