:root {

  /* brand colors */
  --c-brand: #3eaf7c;
  --c-brand-light: #4abf8a;

  /*  background colors */
  --c-bg: #202020;
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #cccccc;

  /*  text colors */
  --c-text: #d0d0d0;
  --c-text-code: #d07070;
  --c-text-quote: #999999;
  --c-text-accent: var(--c-brand);

  /*  code blocks vars */
  --code-bg-color: #282c34;
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: #9e9e9e;
  --code-ln-wrapper-width: 3.5rem;

  /*  font vars */
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  /*  layout vars */
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 740px;
  --homepage-width: 960px;

}
