<!-- Side navigation -->
<div class="sidenav">
  <ul>
    {%- for entry in collections.sortedPage %}
      <l>
        <a
          class="{% if entry.url == page.url %}active{% endif %}"
          href="{{ entry.url | url }}"
        >{{ entry.data.title }}</a>
      </l>
    {%- endfor %}
  </ul>
</div>
