---
style: /css/index.css
---

<!doctype html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Replace with bundled prism -->
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ style | url }}">

    <title>{{ title }}</title>

  </head>

  <body>
    {{ content | safe }}
  </body>

</html>
