<template>
<span v-for="spanData of batch" :key="spanData.key"
  :class="spanData.cssClasses"
  :style="spanDataToStyles(spanData)"
  v-on="spanDataToCbk(spanData)"
>{{spanData.text}}</span>
</template>



<script lang='ts'>
import { defineComponent, PropType } from 'vue'

import { SpanData } from '@/SpanData'


const BatchRenderer = defineComponent({

  name: 'BatchRenderer',

  props: {
    batch: {
      type: Array as PropType<SpanData[]>,
      required: true
    },
    spanDataToStyles: {
      type: Function as PropType<(spanData: SpanData) => any[]>,
      required: true
    }
  },

  emits: [
    'trigger'
  ],

  methods: {

    spanDataToCbk(spanData: SpanData) {
      // For every event in spanControllerEvents, wrap in a 'trigger' event to bubble to MarkedText
      return Object.assign({}, ...Object.entries(spanData.spanControllerEvents).map(
        ([eventName, spanControllerEvent]) => ({
          [eventName]: (event: Event) => this.$emit('trigger', {
            rawEvent: event,
            spanData,
            spanControllerEvent
          })
        })
      ))
    }

  }

})

export default BatchRenderer
</script>
