<template>
<span v-for="(batch, idx) of spanBatches" :key="idx" :class="'span-batch-' + String(idx)">
  <BatchRenderer
    :batch="batch" :spanDataToStyles="spanDataToStyles"
    @trigger="(...args: any[]) => $emit('trigger', ...args)"
  />
</span>
</template>



<script lang='ts'>
import { defineComponent, PropType } from 'vue'

import BatchRenderer from './BatchRenderer.vue'

import { SpanData } from '@/SpanData'


const DepotRenderer = defineComponent({

  name: 'DepotRenderer',

  components: {
    BatchRenderer
  },

  props: {
    spanBatches: {
      type: Array as PropType<SpanData[][]>,
      required: true
    },
    spanDataToStyles: {
      type: Function as PropType<(spanData: SpanData) => any[]>,
      required: true
    }
  },

  emits: [
    'trigger'
  ],

})

export default DepotRenderer
</script>
