<template>
<p ref="markedTextP" class="marked-text" @mouseup="event => controller.onMouseUpOther(event)">
  <DepotRenderer
    :spanBatches="spanBatches"
    :spanDataToStyles="spanDataToStyles"
    @trigger="spanDataTrigger"
  />
</p>
</template>



<script lang='ts'>
import { Component, defineComponent, PropType, ref } from 'vue'

import DepotRenderer from './DepotRenderer.vue'

import { IController } from '@/Controller'
import { Manuscript, MetaStringType } from '@/manuscript'
import { IMark } from '@/IMark'
import { IMarkedText } from '@/IMarkedText'
import { SpanData, SpanControllerCbk } from '@/SpanData'
import { Subject, SubjectStyleType, ISubjectLedger, SubjectLedger, SubjectEngine } from '@/subject'
import { ColorScaleModule, IColorModule } from '@/ColorModule'


const MarkedText: Component<IMarkedText> = defineComponent({

  name: 'VueMarkedText',

  components: {
    DepotRenderer
  },

  props: {
    sourceText: {
      type: String,
      required: true
    },
    marks: {
      type: Array as PropType<IMark[]>,
      required: true
    },
    controller: {
      type: Object as PropType<IController>,
      required: true
    },
    batchSize: {
      type: Number,
      default: 20
    },
    colorModule: {
      type: Object as PropType<IColorModule>,
      default: new ColorScaleModule(1.0, 8)
    },
    subjectLedger: {
      type: Object as PropType<ISubjectLedger>,
      default: new SubjectLedger()
    },
    subjectStyleType: {
      type: String as PropType<SubjectStyleType>,
      default: 'border'
    },
    showBatches: {
      type: Boolean,
      default: false
    }
  },

  setup() {
    const markedTextP = ref<Element>(null)
    return {
      markedTextP
    }
  },

  data() {
    const subjectEngine = new SubjectEngine(this.subjectLedger, this.colorModule)
    const manuscript = new Manuscript(
      this.sourceText, this.marks, () => this.markedTextP as Text, this.batchSize
    )
    const flagRefresh = false
    return {
      subjectEngine, manuscript, flagRefresh
    }
  },

  computed: {
    spanBatches(): SpanData[][] {
      return this.manuscript.spanBatches
    },
    markedTextP(): Text {
      return this.$ref['marked-text-p']
    }
  },

  watch: {
    sourceText() {
      this.manuscript = new Manuscript(
        this.sourceText, this.marks, () => this.markedTextP as Text, this.batchSize
      )
      this.resetSpans()
    },
    marks: {
      handler() {
        this.updateMarks()
      },
      deep: true
    },
    controller(newController: IController, oldController: IController) {
      oldController.unlink()
      newController.link(this)
    },
    colorModule(newModule: IColorModule) {
      this.subjectEngine.setColorModule(newModule)
    },
    subjectLedger(newLedger: ISubjectLedger) {
      this.subjectEngine.setLedger(newLedger)
    },
    batchSize(val: number) {
      this.manuscript.batchSize = val
      this.manuscript.resetSpans()
    },
    subjectStyleType() {
      this.$forceUpdate()
    },
    showBatches(val: boolean) {
      if (val) this.metaStringDivideBatches()
      else this.removeMetaStrings('divide-batches')
    }
  },

  methods: {

    updateMarks() {
      this.controller.deselect()
      this.subjectEngine.addSubjectsFromText()
      const activeSubjects = this.subjectLedger.listActiveSubjects.map(sub => sub.name)
      const filteredMarks = this.marks.filter(mark => mark.subjects.some(sub => activeSubjects.includes(sub)))
      this.manuscript.changeMarks(filteredMarks)
      this.queueRefresh()
    },

    resetColors() {
      this.subjectEngine.resetColors()
      this.queueRefresh()
    },

    refreshManuscript() {
      this.queueRefresh()
    },

    spanDataToStyles(spanData: SpanData) {
      return spanData.subjects.map(
        subject => this.subjectLedger.byName(subject)
      ).filter(
        subject => subject != null && subject.active
      ).map(
        subject => (subject as Subject).style
      )
    },

    spanDataTrigger(payload: { rawEvent: Event, spanData: SpanData, spanControllerEvent: SpanControllerCbk }) {
      payload.spanControllerEvent(payload.rawEvent, payload.spanData, this.controller)
    },


    resetSpans() {
      this.manuscript.resetSpans()
    },


    setSelection(charRange: [number, number] | null) {
      this.manuscript.setSelection(charRange)
      this.queueRefresh()
    },

    getSelection() {
      return this.manuscript.selection
    },


    metaStringEncloseSections(begSections: number[], endSections: number[]) {
      this.manuscript.metaStringEncloseSections(begSections, endSections)
    },

    metaStringDivideBatches() {
      this.manuscript.metaStringDivideBatches()
    },

    removeMetaStrings(metaStringType?: MetaStringType) {
      this.manuscript.removeMetaStrings(metaStringType)
    },

    subjectStyle(name: string) {
      return this.subjectLedger.byName(name)?.style
    },

    queueRefresh() {
      if (!this.flagRefresh) {
        this.$nextTick(() => {
          this.manuscript.refresh()
          this.flagRefresh = false
        })
        this.flagRefresh = true
      }
    }

  },

  beforeMount() {
    this.subjectEngine.link(this)
    this.subjectEngine.addSubjectsFromText()
    this.controller.link(this)
    if (this.showBatches) this.metaStringDivideBatches()
  },

  beforeUnmount() {
    this.controller.unlink()
    this.subjectEngine.unlink()
  }

})

export default MarkedText
</script>



<style scoped>

.marked-text {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  border-radius: 10px;
  width: calc(90% - 2*30px - 2*10px - 2*5px);
  height: calc(100% - 2*30px - 2*10px - 2*5px);
  overflow-y: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  z-index: 1;
}

</style>


<style>

.leader-line {
  z-index: 0;
}

</style>
